//common
hr {
  margin: 0;
}

.theme--light.v-application {
  background-color: #efefef;
}

//HeaderLayout
.v-toolbar {
  &.header {
    position: relative;
    z-index: 1;
    flex: unset !important;
  }
}

//ConnectionsListCard
.card-btn {
  padding: 0;

  .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: transparent;
  }

  .v-btn--contained {
    box-shadow: unset;
  }

  .v-btn:not(.v-btn--round).v-size--default {
    min-width: unset;
  }

  .v-btn > .v-btn__content .v-icon {
    font-size: 18px;
  }
}
.share-connections{
  .card-list {
    cursor: pointer;
  }
}

//InformationForm
.input-area{
  position: relative;
  .btn-input{
    position: absolute;
    right: 2%;
    top: 13%;
  }
}

.hash{
  .v-text-field__details{
   display: none;
  }
}

//Login
.login-wrap{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  .login-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    .title{
      font-weight: bold;
      span{
        display: inline-block;
        padding: 0 5px;
        vertical-align: top;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
      }
    }
    .form-wrap{
      padding: 20px 30px;
      border: 2px solid #dcdcdc;
      border-radius: 5px;
    }
  }
}

